/**шрифты**/

@font-face {
    font-family: "Harmonia-reg";
    src: url(font/HarmoniaSansProCyr-Regular.otf);
   }
@font-face {
    font-family: "Harmonia-black";
    src: url(font/HarmoniaSansProCyr-Black.otf);
   }
@font-face {
    font-family: "Harmonia-SemiBd";
    src: url(font/HarmoniaSansProCyr-SemiBdCn.otf);
   }
@font-face {
    font-family: "Harmonia-Italic";
    src: url(font/HarmoniaSansProCyr-Italic.otf);
   }
@font-face {
    font-family: "Harmonia-Bold";
    src: url(font/HarmoniaSansProCyr-Bold.otf);
   }


/**СЕТКА**/


@column-name: column; // Префикс класса сетки
@column-count: 12;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
  }

  .generate-column(@i + 1);
}

.generate-column();

/**СТИЛИ**/

html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
}
.container-max {
    max-width: 1200px;
}
.column {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    display: inline-block;
    overflow:visible;
   @media screen and (max-width: 480px) {
               display: block;
                float: none; 
                }
}
.header {
    width: 100%;
    font-family: Harmonia-reg;
    
    
    .header__small{
        padding:23px 0;
        margin:0 auto;
        overflow: auto;
        font-size: 0.75rem;
        color: #34404b;
        
        span {
            &:first-child {
                margin-left: 15px;
            }
            padding-right: 3px;
            i {
                padding-right: 6px;
            }
        }
        .social-ico {
            float:right;
            text-align: right;
            padding-right: 15px;    
            
            a { 
                width: 15px;
                padding-left: 22px;
                &.face {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) no-repeat;
                    
                    &:hover {
                        background: url(img/soc_sprite_hov.png) no-repeat;
                    }
                }
                &.twit {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 35% 0% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 35% 0% no-repeat;
                    }
                }
                &.google {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 70% 0% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 70% 0% no-repeat;
                    }
                }
                &.inst {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 100% 0% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 100% 0%  no-repeat;
                    }
                }
                }
            }
        }
    
    .header__separate {
        width: 100%;
        height: 1px;
        background-color: #edeff1;
        }
    .header__big {
        margin: 40px auto;
        overflow: auto;
        
        font-size: 1rem;
        .logo {
            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                }
        }
        a{
            
            color: #34404b;
            padding-top: 10px;
            padding-right: 25px;
            transition: all 0.3s ease;
            @media screen and (max-width: 768px) {
                     margin:0 auto;
                }
            
            &:hover {
                color:#ff5912;
            }
        }
        
        .user-ico {
            
            text-align: right;
            float: right;
            overflow:hidden;
            @media screen and (max-width: 768px) {
                      margin-top: -50px;
                }
            @media screen and (max-width: 546px) {
                     margin-top: -82px;
                    
                } 
            @media screen and (max-width: 480px) {
                margin-top: -117px;
                 
                }
              
                i {
                padding-left: 25px;
                    @media screen and (max-width: 960px) {
                padding-left: 15px;
                }
                @media screen and (max-width: 768px) {
                     overflow: visible;
                     display: block;
                }   
                 @media screen and (max-width: 480px) {
                padding-top: 10px;
                 
                }
            }
            
           
            
            
        }
    }
}

.gray-bgc {
    overflow: auto;
    background-color: #f4f6f8;
    
}

.new-arrivals {
    padding-top:10px; 
    margin: 97px auto;
    text-align: center;
    @media screen and (max-width: 480px) {
                margin-top: 20px;
                }
    h1 {
        font-family: "Harmonia-black";
        text-transform: uppercase;
        font-size: 2.25rem;
        color:#34404b;
        margin: 0px;
        
        span {
            font-family: "Harmonia-black";
            color:#ff5912;
        }
    }
    
    p {
        font-family: "Harmonia-reg";
        color:#495662;
        font-size: 1rem;
        margin: 0px;
        padding-top: 18px;
        padding-bottom: 80px;
    }
    
    .item {
        padding:10px 15px;
    .item__wrap {
        position: relative;
        padding: 31px 0px;
        
        background-color: #fff;
        text-align: center;
        box-sizing:content-box;
        overflow: hidden;
        transition: all 0.8s ease;
        @media screen and (max-width: 768px) {
                padding-top: 10px;
            
                }
        @media screen and (max-width: 480px) {
    
                }
        
        .name {
            
            margin-top:80%;
            padding-bottom: 10%;
            white-space: nowrap;
            text-overflow: clip;
            font-family: "Harmonia-Bold";
            font-size:1.125rem;
            color:#34404b;
             transition: all 0.8s ease;
            display: block;
        } 
        .price {
            position: absolute;
            bottom:5%;
            width: 100%;
            white-space: nowrap;
            text-overflow: clip;
            font-family: "Harmonia-Bold";
            font-size:1.125rem;
            margin-top: 25px;
            color:#ff5912;
        }
        .img__box {
            
            transition: all 0.8s ease;
            position: absolute;
            width: 100%;
            overflow: hidden;
        img {
            max-width: 75%;
            box-sizing: border-box;
            margin-bottom: 25px;
            transition: all 0.8s ease;
            
            @media screen and (max-width: 768px) {
                max-width: 80%;
                }
        }
            }
        .sizes {
            position: absolute;
            width: 100%;
            opacity: 0;
            bottom: 30%;
            
            font-family: "Harmonia-reg";
            font-size:0.875rem;
            margin-top:25px;
            display: block;
            transition: all 0.8s ease;
        }
        .colors {
            position: absolute;
            width: 100%;
            opacity: 0;
            bottom: 20%;
            padding-top:25px;
            display: block;
            transition: all 0.8s ease;
            @media screen and (max-width: 768px) {
                padding-top: 10px;
            
                }
            .color {
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                margin: 2px;
                border: 2px solid white;
                transition: all 0.8s ease;
                &.color--red {
                    background-color: #e12e3f;
                }
                &.color--black {
                    background-color: #34404b;
                }
                &.color--blue {
                    background-color: #3ab3ff;
                }
                &.color--green {
                    background-color: #2fd967;
                }
                &:hover {
                    border-color: #34404b;
                    
                }
            }
            
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
            -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
            box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
            
            img{
                max-width: 35%;
                @media screen and (max-width: 768px) {
                max-width: 50%;
                }
                @media screen and (max-width: 480px) {
                max-width: 40%;
                }
            }
            .name {
                margin-top:50%;
                color:#ff5912;
                padding-bottom: 40%;
            }
            .price {
               opacity: 0;
            }
            .sizes {
                opacity: 1;
            }
            .colors {
                
                opacity: 1;
            }
            .buttons {
                bottom: 5%;
                opacity: 1;
            }
        }
        .buttons {
            position: absolute;
            padding-top: 10px;
            
            width:76%;
            margin-left: 12%;
            border-top: 1px solid #f2f4f7;
            bottom: -100%;
            overflow: hidden;
            opacity: 1;
            transition: all 0.5s ease;
            .hover {
                overflow: hidden;
                width: 33%;
                height: 20px;
                float: left;
                transition: all 0.4s ease;
                &.add {
                     background: url('img/add-to-normal.png') center no-repeat ;
                    &:hover {
                         background: url('img/add-to.png') center no-repeat ;    
                    }
                }
                &.share {
                     background: url('img/share.png') center no-repeat ;
                    &:hover {
                         background: url('img/share-hov.png') center no-repeat ;    
                    }
                }
                &.like {
                     background: url('img/like.png') center no-repeat ;
                    &:hover {
                         background: url('img/like-hover.png') center no-repeat ;    
                    }
                }
               
                 
                
            }
            
            }
            
        }
        
}
}

.hot {
    margin: 0 auto;
    
    overflow:hidden;
    margin-bottom: 104px;
    @media screen and (max-width: 480px) {
                margin-bottom: 40px;
                }
    img {
        max-width: 100%;
        
    }
    
    .banner {
        padding: 0 15px;
        overflow: hidden;
        @media screen and (max-width: 480px) {
                width: 100%;
                }
    }
    
}

.best-sales {
    text-align: center;
    
    margin: 0 auto;
    
    h1 {
        font-family: "Harmonia-black";
        text-transform: uppercase;
        font-size: 2.25rem;
        color:#34404b;
        margin: 0px;
        
        span {
            font-family: "Harmonia-black";
            color:#ff5912;
        }
    }
    
    p {
        margin-top: 18px;
        margin-bottom: 65px;
        font-family: "Harmonia-reg";
        color:#495662;
        font-size: 1rem;
    }
    
    
    .best {
        position: relative;
            padding: 15px;
           
            float:left;
            transition: all 0.5s ease;
            @media screen and (max-width: 480px) {
                width: 100%;
                }
        
        .best__wrapper {  
             background-color: #fff;
            overflow: hidden;
            transition: all 0.5s ease;
            padding:20px;
            @media screen and (max-width: 480px) {
                margin-bottom: 10px;
                }
            @media screen and (max-width: 320px) {
                height: 220px;
                }
            
            
            .wrap {
                transition: all 0.4s ease;
                @media screen and (max-width: 1024px) {
                width: 80%;
                margin: 0 auto;
                }
            }
            &:hover {
                -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
                -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
                box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
                .wrap {
                    margin-top: -20px;
                    opacity: 0;
                }
                .best__add div{
                    opacity: 1;
                    padding-bottom: 20px;
                }
            }
            img {
                float: left;
                max-width: 30%;
                margin-left: 10px;
                margin-top: 15px;
                @media screen and (max-width: 1024px) {
                     float: none;
                    max-width: 60%;
                }
                @media screen and (max-width: 480px) {
                float: left;
                max-width: 40%;
                }
                @media screen and (max-width: 360px) {
                float: none;
                    max-width: 70%;
                }
            }
            .text {
                text-align: left;
                float: right;
                width: auto;
                margin-right: 15px;
                margin-top: 22px;
                 @media screen and (max-width: 1024px) {
                     float: none;
                }
                 @media screen and (max-width: 480px) {
                float: right;
                }
                @media screen and (max-width: 360px) {
                float: none;
                
                }
                .name {
                    text-align: left;
                    display: block;   
                    margin-bottom: 26px;
                    font-family: "Harmonia-Bold";
                    font-size: 1.125rem;
                    color:#495662;
                    
                    @media screen and (max-width: 1024px) {
                        margin-top: 15px;
                        margin-bottom: 15%;
                        text-align: center;
                    }
                }
                .stat {
                        display: inline-block;
                        width: 50%;
                        float:left; 
                    img {
                        max-width: 100%;
                        margin-top: 0;
                        margin-left: -2px;
                    }
                }
                .pri {
                    font-size: 1rem;
                       font-family: "Harmonia-Bold";
                       color:#ff5912; 
                       width: 50%;
                       display: inline-block;
                       text-align: right;
                    
                    }
                }
            .best__add {
                font-family:"Harmonia-SemiBd" ;
                clear: both;
                margin-left: 10%;
                float: left;
                cursor: pointer;
                color:#495662; 
                 
                transition: all 0.2s ease;
                 @media screen and (max-width: 1024px) {
                     margin: 0 auto;
                     float: none;
                     text-align: center;
                }
                &:hover {
                    color:#ff5912;
                }
            div{
                margin: 0 auto;
                opacity: 0;
                transition: all 0.4s ease;
                img {
                    margin-right: 10px;
                    margin-top: -3px;
                }
                
            }
            }
            &:last-child {
                margin-bottom: 101px;
                @media screen and (max-width: 480px) {
                margin-bottom: 0px;
                }
            }
            
        }
        }
}

.news-letter {
    
    margin: 0 auto ;
    clear: both;
    background-color: #fff;
    box-sizing:border-box;
    padding: 45px 55px;
    overflow: auto;
    @media screen and (max-width: 960px) {
            padding: 45px 24px;
         }
    @media screen and (max-width: 768px) {
                padding: 25px;
                }
    @media screen and (max-width: 480px) {
               text-align: center;
                }
    
    .news-letter__italic {
        padding-top: 15px;
        font-family: "Harmonia-Italic";
        font-size: 0.875rem;
        color:#495662;
        text-align: left;
        margin-left: 1px;
        
        @media screen and (max-width: 480px) {
            text-align: center;
            margin-bottom: 15px;
         }
    }
    .news-letter__news {
        padding-top: 15px;
        font-family: "Harmonia-Bold";
        font-size: 1.125rem;
        color:#ff5912;
        padding-right: 20px;
        @media screen and (max-width: 960px) {
            padding-right: 10px;
         }
        @media screen and (max-width: 480px) {
            font-size: 1.5rem;   
            
            padding-right: 0px;
         }
    }
    .send_mail {
        padding-top: 15px;
        display: inline;
        text-align: center;
        padding-left: 120px;
        @media screen and (max-width: 960px) {
            padding-left: 20px;
         }
        @media screen and (max-width: 830px) {
            
            margin-top: 50px;
            width: 100%;
            margin: 0 auto;
            text-align: left;
                }
        @media screen and (max-width: 480px) {
            margin-bottom: 20px;
         }
        img {
            @media screen and (max-width: 830px) {
            display: none;
                }
        }
        input[type="email"] {
            border: none;
            text-align: center;
            width: 190px;
            font-family: "Harmonia-Italic";
            color: #7c8791;
            
            @media screen and (max-width: 830px) {
                margin: 0 auto;
                width: 100%;
                text-align: left;
                border-bottom:1px solid #7c8791;
                }
            @media screen and (max-width: 480px) {
                margin-left: 0;
                width:70%;
                text-align: center;
                }
        }
        
    }
    .btn {
        font-family:"Harmonia-SemiBd" ;
        float: right;
        color: #ffffff;
        padding:15px 30px;
        text-align: center;
        background-color: #ff5912;
        @media screen and (max-width: 960px) {
                padding: 10px 20px;
                }
        @media screen and (max-width: 830px) {
                
            display: block;
            margin-top: 20px;
            width: 30%;
            margin-left: 35%;
            float: left;

                }
        @media screen and (max-width: 480px) {
            margin-top: 20px;
            margin-left: 25%;
            float: none;
            width: 50%;
         }
    }
}
.footer {
    margin-top: 116px;
    width: 100%;
    padding-top: 40px;
    background-color: #fff;
    padding-bottom: 40px;
    @media screen and (max-width: 480px) {
                margin-top: 30px;
                padding-top: 0;
        }
    
    p{   
                margin-top: 0;
                margin-bottom: 10px;
            }
    .footer__cont {
        
        overflow: auto;
        margin: 0 auto;
        padding: 40px 0;
        @media screen and (max-width: 480px) {
                padding: 20px;
                }
        .footer__logo {
            text-align: left;
            font-family: "Harmonia-reg";
            color:#495662;
            font-size: 0.875rem;
            @media screen and (max-width: 480px) {
               text-align: center;
                width:100%;
                margin-bottom: 10px;
                }
            p {
                padding:11px 0;
                @media screen and (max-width: 480px) {
                display:none;
                }
            }
        }
        .footer__links {
            font-family: "Harmonia-reg";
            color:#495662;
            font-size: 0.875rem;
            text-align: left;
            vertical-align: top;
            @media screen and (max-width: 768px) {
                width: 25%;
                &:nth-child(4) {
                    display: none;
                }
            }
            @media screen and (max-width: 480px) {
                &:nth-child(3) {
                    display: none;
                }
                width: 100%;
                text-align: center;
                float: left;
                margin: 0 auto;
                }
            .links {
                padding:0;
                padding-left: 15px;
                margin: 0 auto;
                
                li {
                    @media screen and (max-width: 480px) {
                        display: inline-block;
                        margin-right: 20px;
                        float: none;
                }
                    a{
                    color:#28313b;
                        transition: all 0.3s ease;
                        &:hover {
                            color: #ff5912;
                        }
                        }
                margin: 5px 0;
            }
            }
        }
        .footer__pay {
            
            vertical-align:top;
            text-align: left;
            display: inline-block;
            float: right;
            padding-right: 0px;
            @media screen and (max-width: 768px) {
                text-align: left;
                
                }
            @media screen and (max-width: 480px) {
                text-align: center;
                margin-top: 10px;
                padding: 0;
                }
            .pay-ico {
                @media screen and (max-width: 480px) {
                margin-left: 10px;
                }
                .pay {
                    
                    padding-left: 25px;
                    margin-right: 10px;
                    
                    &.p_first {
                       background: url(img/pay.png) ;
                    }
                    &.p_two {
                       background: url(img/pay.png) 34% 0 ;
                    }
                    &.p_three {
                       background: url(img/pay.png) 66% 0 ;
                    }
                    &.p_four {
                       background: url(img/pay.png) 100% 0 ; 
                    }
                    
                }
            }
            @media screen and (max-width: 480px) {
                
                float: right;
                width: 100%;
                
         }
            p{  
                font-family:"Harmonia-SemiBd" ;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 10px;
                color:#ff5912;
            }
        }
    }
}
#slider-big {
    overflow: hidden;
    height: 650px;
    background: url(img/slid.png);
    
    .slider__text {
        margin-left: 15%;
        margin-top: 15%;
        width:40%;
        
        
        .slider__headline {
            color:#ff5912;
            font-family: "Harmonia-black";
            font-size: 3.25rem;
        }
        .slider__arc {
            color: #34404b;
            font-family: "Harmonia-SemiBd";
        }
        .slider__min{
            color: #34404b;
            font-family: "Harmonia-reg";
        }
        .slider__price {
            color: #34404b;
           font-family: "Harmonia-SemiBd";
        }
        .slide__order {
            font-family: "Harmonia-SemiBd";
           padding-left: 35px;
            color:#ff5912;
            .ico {
               width: 18px;
            }
        }
        
    }
  
}


  