/**шрифты**/

@font-face {
    font-family: "Harmonia-reg";
    src: url(font/HarmoniaSansProCyr-Regular.otf);
   }
@font-face {
    font-family: "Harmonia-black";
    src: url(font/HarmoniaSansProCyr-Black.otf);
   }
@font-face {
    font-family: "Harmonia-SemiBd";
    src: url(font/HarmoniaSansProCyr-SemiBdCn.otf);
   }
@font-face {
    font-family: "Harmonia-Italic";
    src: url(font/HarmoniaSansProCyr-Italic.otf);
   }
@font-face {
    font-family: "Harmonia-Bold";
    src: url(font/HarmoniaSansProCyr-Bold.otf);
   }


/**СЕТКА**/

@media (min-width: 769px) {
@column-name: column; // Префикс класса сетки
@column-count: 12;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
    
  }

  .generate-column(@i + 1);
}

.generate-column();
}
@media (max-width: 768px) {
@column-name: column-mid; // Префикс класса сетки
@column-count: 8;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
    
  }

  .generate-column(@i + 1);
}

.generate-column();
}

@media (max-width: 480px) {
@column-name: column-small; // Префикс класса сетки
@column-count: 8;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
    
  }

  .generate-column(@i + 1);
}

.generate-column();
}

/**СЕТКА ПРОДУКТОВ**/

@media (min-width: 769px) {
@column-name: column-prod; // Префикс класса сетки
@column-count: 12;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
        &:nth-child(3n+1) {
          clear: left;
        }
  }

  .generate-column(@i + 1);
}

.generate-column();
}
@media (max-width: 768px) {
@column-name: column-prod-mid; // Префикс класса сетки
@column-count: 8;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
        &:nth-child(2n+1) {
          clear: left;
      }
  }

  .generate-column(@i + 1);
}

.generate-column();
}

@media (max-width: 480px) {
@column-name: column-prod-small; // Префикс класса сетки
@column-count: 8;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
        
  }

  .generate-column(@i + 1);
}

.generate-column();
}

/**СТИЛИ**/

html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
}
.container-max {
    
    margin: 0 auto;
    max-width: 1200px;
}
.column {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    display: inline-block;
    overflow:visible;
}

.all {
    padding: 120px 0;
    @media screen and (max-width: 768px) {
                padding: 60px 0;   
                
            }
}
.header {
    width: 100%;
    font-family: Harmonia-reg;
    
    
    .header__small{
        
        padding:23px 0;
        margin:0 auto;
        overflow: auto;
        font-size: 0.75rem;
        color: #34404b;
        
        span {
            &:first-child {
                margin-left: 15px;
            }
            padding-right: 3px;
            i {
                padding-right: 6px;
            }
        }
        .social-ico {
            float:right;
            text-align: right;
            padding-right: 15px;    
            
            a { 
                width: 15px;
                padding-left: 22px;
                &.face {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) no-repeat;
                    
                    &:hover {
                        background: url(img/soc_sprite_hov.png) no-repeat;
                    }
                }
                &.twit {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 35% 0% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 35% 0% no-repeat;
                    }
                }
                &.google {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 70% 0% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 70% 0% no-repeat;
                    }
                }
                &.inst {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 100% 0% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 100% 0%  no-repeat;
                    }
                }
                }
            }
        }
    
    .header__separate {
        width: 100%;
        height: 1px;
        background-color: #edeff1;
        }
    .header__big {
        margin: 40px auto;
        overflow: auto;
        
        font-size: 1rem;
        .logo {
            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                }
        }
        a{
            
            color: #34404b;
            padding-top: 10px;
            padding-right: 25px;
            transition: all 0.3s ease;
            @media screen and (max-width: 768px) {
                     margin:0 auto;
                }
            @media screen and (max-width: 480px) {
                
                width:100%;
                
                }
            &:hover {
                color:#ff5912;
            }
        }
        
        .user-ico {
            
            text-align: right;
            float: right;
            overflow:hidden;
            @media screen and (max-width: 768px) {
                      margin-top: -50px;
                }
            @media screen and (max-width: 546px) {
                     margin-top: -117px;
                    
                } 
            @media screen and (max-width: 480px) {
                
                 
                }
              
                i {
                padding-left: 25px;
                    @media screen and (max-width: 960px) {
                padding-left: 15px;
                }
                @media screen and (max-width: 768px) {
                     overflow: visible;
                     display: block;
                }   
                 @media screen and (max-width: 480px) {
                padding-top: 10px;
                 
                }
            }
            
           
            
            
        }
    }
}

.gray-bgc {
    overflow: auto;
    background-color: #f4f6f8;
    
}


.items  {
    padding:0;
    .yet {
            margin-bottom: 80px;
            
            .yet__wrapper {
                padding:20px 15px;
                background-color: #fff;
                text-align: center;
                transition: all 0.3s ease;
                .yet__cir {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color:#ff5912;
                    display: inline-block;
                }
                &:hover {
                    -webkit-box-shadow: inset 0px 0px 15px -4px rgba(0,0,0,0.45);
                    -moz-box-shadow: inset 0px 0px 15px -4px rgba(0,0,0,0.45);
                    box-shadow: inset 0px 0px 15px -4px rgba(0,0,0,0.45);
                }
                &:active {
                    -webkit-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.65);
                    -moz-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.65);
                    box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.65);
                }
             }
        
            }
    .item {
        padding:0px 15px;
        margin-bottom: 30px;
    .item__wrap {
        position: relative;
        padding: 31px 0px;
        
        background-color: #fff;
        text-align: center;
        box-sizing:content-box;
        overflow: hidden;
        transition: all 0.8s ease;
        
        .name {
            
            margin-top:80%;
            padding-bottom: 10%;
            
            font-family: "Harmonia-Bold";
            font-size:1.125rem;
            color:#34404b;
             transition: all 0.8s ease;
            display: block;
        } 
        .price {
            position: absolute;
            bottom:5%;
            width: 100%;
            white-space: nowrap;
            text-overflow: clip;
            font-family: "Harmonia-Bold";
            font-size:1.125rem;
            margin-top: 25px;
            color:#ff5912;
        }
        .img__box {
            
            transition: all 0.8s ease;
            position: absolute;
            width: 100%;
            overflow: hidden;
        img {
            max-width: 75%;
            box-sizing: border-box;
            margin-bottom: 25px;
            transition: all 0.8s ease;
            
            @media screen and (max-width: 768px) {
                max-width: 80%;
                }
            @media screen and (max-width: 480px) {
                max-width: 90%;
                }
        }
            }
        .sizes {
            position: absolute;
            width: 100%;
            opacity: 0;
            bottom: 30%;
            
            font-family: "Harmonia-reg";
            font-size:0.875rem;
            margin-top:25px;
            display: block;
            transition: all 0.8s ease;
        }
        .colors {
            position: absolute;
            width: 100%;
            opacity: 0;
            bottom: 20%;
            padding-top:25px;
            display: block;
            transition: all 0.8s ease;
            @media screen and (max-width: 768px) {
                padding-top: 10px;
            
                }
            .color {
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                margin: 2px;
                border: 2px solid white;
                transition: all 0.8s ease;
                &.color--red {
                    background-color: #e12e3f;
                }
                &.color--black {
                    background-color: #34404b;
                }
                &.color--blue {
                    background-color: #3ab3ff;
                }
                &.color--green {
                    background-color: #2fd967;
                }
                &:hover {
                    border-color: #34404b;
                    
                }
            }
            
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
            -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
            box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.74);
            
            img{
                max-width: 35%;
                @media screen and (max-width: 768px) {
                max-width: 50%;
                }
                @media screen and (max-width: 480px) {
                max-width: 40%;
                }
            }
            .name {
                margin-top:50%;
                color:#ff5912;
                padding-bottom: 40%;
            }
            .price {
               opacity: 0;
            }
            .sizes {
                opacity: 1;
            }
            .colors {
                
                opacity: 1;
            }
            .buttons {
                bottom: 5%;
                opacity: 1;
            }
        }
        .buttons {
            position: absolute;
            padding-top: 10px;
            
            width:76%;
            margin-left: 12%;
            border-top: 1px solid #f2f4f7;
            bottom: -100%;
            overflow: hidden;
            opacity: 1;
            transition: all 0.5s ease;
            .hover {
                overflow: hidden;
                width: 33%;
                height: 20px;
                float: left;
                transition: all 0.4s ease;
                &.add {
                     background: url('img/add-to-normal.png') center no-repeat ;
                    &:hover {
                         background: url('img/add-to.png') center no-repeat ;    
                    }
                }
                &.share {
                     background: url('img/share.png') center no-repeat ;
                    &:hover {
                         background: url('img/share-hov.png') center no-repeat ;    
                    }
                }
                &.like {
                     background: url('img/like.png') center no-repeat ;
                    &:hover {
                         background: url('img/like-hover.png') center no-repeat ;    
                    }
                }
               
                 
                
            }
            
            }
            
        }
       } 
}

p {
    margin: 0;
    padding: 0;
}
.side {
    @media screen and (max-width:768px) {
        float: left;
    
    box-sizing: border-box;
    }
    .side__block {
        
        background-color: #ffffff;
        margin-bottom: 30px;
        padding: 40px;
        
        @media screen and (max-width: 768px) {
            float: left;
            padding: 0 0px;
            box-sizing: border-box;
            background:white; 
            
            .cat_wrap {
                padding: 10px;
                background-color: #fff;
                position: relative;
                
                .cat__content {
                    overflow: hidden;
                    top:-100%;
                    width: 100%;
                    padding:0 10%;
                    left: 0px;
                    width: 80%;
                    opacity: 0;
                    position: absolute;
                    z-index: 10000;
                    transition: all 0.3s ease;
                }
                &:hover .cat__content{
                    display: block;
                    background-color: white;
                    top:100%;
                    opacity: 1; 
                }
            }
        }
        @media screen and (max-width: 480px) {
            float: left;
            padding: 0 0px;
            box-sizing: border-box;
            background:white; 
            
            .cat_wrap {
                padding: 10px;
                background-color: #fff;
                position: relative;
                
                .cat__content {
                    
                    top:100%;
                    width: 100%;
                    padding:0 10%;
                    left: 0px;
                    width: 80%;
                    visibility: hidden;
                    position: absolute;
                    z-index: 10000;
                    transition: all 0.3s ease;
                }
                &:hover .cat__content{
                    display: block;
                    background-color: white;
                    visibility: visible;
                    
                }
            }
            
        }
        
        .title {
            font-size:1.125rem ;
            color:#ff5912;
            white-space: nowrap;
            font-family: "Harmonia-black";
            padding-bottom: 10px;
            @media screen and (max-width: 768px) {
                padding-bottom: 0px;   
                
            }
        }
        a { 
            margin: 30px 0;
            text-decoration: none;
            font-family: "Harmonia-SemiBd";
            color:#34404b;
            display: block;
            transition: all 0.4s ease;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color:#ff5912;
            }
        }
        &.price {
            
            .filter {
                width: 100%;
                position: relative;
                .range__price input{
                    text-align: center;
                    margin: 30px 0 15px;
                    border:0;
                    color:#34404b;
                    font-family: "Harmonia-SemiBd";
                    font-size: 0.875rem;
                    width: 100%;
                }
                .input__price {
                    overflow: visible;
                    font-size: 0.875rem;
                    font-family: "Harmonia-SemiBd";
                    margin-top: 40px;
                    width: 100%;
                    input {
                        margin-left: 15px;
                        width:35px;
                        border: 0;
                        background-color: #edf0f2;
                    }
                    label {
                        &:last-child {
                            float: right;
                        }
                        @media screen and (max-width:1024px) {
                            float: left;
                            margin-top: 10px;
                            &:last-child {
                            float: left;
                        }
                        }
                    }
                }
            }
        }
        &.sizes {
            font-family: "Harmonia-SemiBd";
            color:#34404b;
            font-size: 1rem;
            
            .size {
                margin: 30px 0;
                &:last-child {
                margin-bottom: 0;
            }
            }
            input[type="checkbox"] {
                display:none;
            }
            input[type="checkbox"] + label {
                transition: all 0.3s ease-in;
            }
            input[type="checkbox"] + label {
                &:hover {
                    cursor: pointer;
                    color:#ff5912;
                }
            }
            input[type="checkbox"] + label span {
                
                display:inline-block;
                width:13px;
                height:13px;
                margin: -5px 12px 0 0;
                vertical-align:middle;
                background-color: #edf0f2;
                cursor: pointer;
                box-sizing: border-box;
                transition: all 0.2s ease;
                
            }
            
            input[type="checkbox"]:checked + label span {
                border: 4px solid #ff5912; 
            }
            input[type="checkbox"]:checked + label{
                color:#ff5912;
            }
        }
        &.brands {
            font-family: "Harmonia-SemiBd";
            color:#34404b;
            font-size: 1rem;
            .brand {
                margin: 30px 0;
                &:last-child {
                margin-bottom: 0;
            }
            }
            input[type="checkbox"] {
                display:none;
            }
            input[type="checkbox"] + label span {
                
                display:inline-block;
                width:13px;
                height:13px;
                margin: -5px 12px 0 0;
                vertical-align:middle;
                background-color: #edf0f2;
                cursor: pointer;
                box-sizing: border-box;
                transition: all 0.2s ease;
                
            }
            input[type="checkbox"] + label {
                transition: all 0.3s ease-in;
            }
            input[type="checkbox"] + label {
                &:hover {
                    cursor: pointer;
                    color:#ff5912;
                }
            }
            input[type="checkbox"]:checked + label span {
                border: 4px solid #ff5912; 
            }
            input[type="checkbox"]:checked + label{
                color:#ff5912;
            }
        }
    }
}




.news-letter {
    
    margin: 0 auto ;
    clear: both;
    background-color: #fff;
    box-sizing:border-box;
    padding: 45px 55px;
    overflow: auto;
    
    @media screen and (max-width: 960px) {
            padding: 45px 24px;
         }
    @media screen and (max-width: 768px) {
                padding: 25px;
                }
    @media screen and (max-width: 480px) {
               text-align: center;
                }
    
    .news-letter__italic {
        padding-top: 15px;
        font-family: "Harmonia-Italic";
        font-size: 0.875rem;
        color:#495662;
        text-align: left;
        margin-left: 1px;
        @media screen and (max-width: 768px) {
            text-align: center;
         }
        @media screen and (max-width: 480px) {
            text-align: center;
            margin-bottom: 15px;
            width: 100%;
         }
    }
    .news-letter__news {
        padding-top: 15px;
        font-family: "Harmonia-Bold";
        font-size: 1.125rem;
        color:#ff5912;
        padding-right: 20px;
        @media screen and (max-width: 960px) {
            padding-right: 10px;
         }
        @media screen and (max-width: 768px) {
            text-align: center;
         }
        @media screen and (max-width: 480px) {
            font-size: 1.5rem;   
            width: 100%;
            padding-right: 0px;
         }
    }
    .send_mail {
        padding-top: 15px;
        display: inline;
        text-align: center;
        padding-left: 120px;
        @media screen and (max-width: 960px) {
            padding-left: 20px;
         }
        @media screen and (max-width: 830px) {
            
            margin-top: 50px;
            width: 100%;
            margin: 0 auto;
            text-align: left;
                }
        @media screen and (max-width: 480px) {
            margin-bottom: 20px;
         }
        img {
            @media screen and (max-width: 830px) {
            display: none;
                }
        }
        input[type="email"] {
            border: none;
            text-align: center;
            width: 190px;
            font-family: "Harmonia-Italic";
            color: #7c8791;
            
            @media screen and (max-width: 830px) {
                margin: 0 auto;
                
                text-align: left;
                border-bottom:1px solid #7c8791;
                }
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                width: 100%;
                text-align: center;
                border-bottom:1px solid #7c8791;
                }
            
            @media screen and (max-width: 480px) {
                margin-left: 15%;
                text-align: center;
                width:70%;
                }
        }
        
    }
    .btn {
        font-family:"Harmonia-SemiBd" ;
        float: right;
        color: #ffffff;
        padding:15px 30px;
        text-align: center;
        background-color: #ff5912;
        @media screen and (max-width: 1024px) {
                padding: 10px 20px;
                }
        @media screen and (max-width: 830px) {
                
            display: block;
            margin-top: -20px;
            float: right;
                }
        @media screen and (max-width: 768px) {
                clear: both;
            display: block;
            margin-top: 60px;
            float: none;

                }
        
    }
}
.footer {
    
    width: 100%;
    padding-top: 40px;
    background-color: #fff;
    padding-bottom: 40px;
    
    @media screen and (max-width: 480px) {
                margin-top: 30px;
                padding-top: 0;
        }
    
    p{   
                margin-top: 0;
                margin-bottom: 10px;
            }
    .footer__cont {
        
        overflow: auto;
        margin: 0 auto;
        padding: 40px 0;
        @media screen and (max-width: 480px) {
                padding: 20px;
                }
        .footer__logo {
            text-align: left;
            font-family: "Harmonia-reg";
            color:#495662;
            font-size: 0.875rem;
            @media screen and (max-width: 768px) {
               display: none;
                }
            @media screen and (max-width: 480px) {
                display: block;
               text-align: center;
                width:100%;
                margin-bottom: 10px;
                }
            p {
                padding:11px 0;
                @media screen and (max-width: 480px) {
                display:none;
                }
            }
        }
        .footer__links {
            font-family: "Harmonia-reg";
            color:#495662;
            font-size: 0.875rem;
            text-align: left;
            vertical-align: top;
            
            @media screen and (max-width: 480px) {
                &:nth-child(3) {
                    display: none;
                }
                width: 100%;
                text-align: center;
                float: left;
                margin: 0 auto;
                }
            .links {
                padding:0;
                padding-left: 15px;
                margin: 0 auto;
                
                li {
                    @media screen and (max-width: 480px) {
                        display: inline-block;
                        margin-right: 20px;
                        float: none;
                }
                    a{
                    color:#28313b;
                        transition: all 0.3s ease;
                        &:hover {
                            color: #ff5912;
                        }
                        }
                margin: 5px 0;
            }
            }
        }
        .footer__pay {
            
            vertical-align:top;
            text-align: left;
            display: inline-block;
            float: right;
            padding-right: 0px;
            @media screen and (max-width: 768px) {
                margin-top: 10px;
                width: 100%;
                text-align: center;
                
                }
            @media screen and (max-width: 480px) {
                text-align: center;
                margin-top: 10px;
                padding: 0;
                }
            .pay-ico {
                @media screen and (max-width: 480px) {
                margin-left: 10px;
                }
                .pay {
                    margin-top: 10px;
                    padding-left: 25px;
                    margin-right: 10px;
                    
                    &.p_first {
                       background: url(img/pay.png) ;
                    }
                    &.p_two {
                       background: url(img/pay.png) 25% 0 ;
                    }
                    &.p_three {
                       background: url(img/pay.png) 50% 0 ;
                    }
                    &.p_four {
                       background: url(img/pay.png) 75% 0 ; 
                    }
                    &.p_five {
                       background: url(img/pay.png) 100% 0 ; 
                    }
                    
                }
            }
            @media screen and (max-width: 480px) {
                
                float: right;
                width: 100%;
                
         }
            p{  
                font-family:"Harmonia-SemiBd" ;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 10px;
                color:#ff5912;
            }
        }
        
        }
    .copy {
            display: none;
        @media screen and (max-width: 768px) {
                display: block;
                 text-align: center;
                font-family: "Harmonia-reg";
                 font-size: 0.875rem;
                 vertical-align: bottom;
                 color: #28313b;
                
                
            }
             @media screen and (max-width: 480px) {
                display: block;
                 text-align: center;
                font-family: "Harmonia-reg";
                 font-size: 0.875rem;
                 vertical-align: bottom;
                 color: #28313b;
         }
    }
}



  