/**шрифты**/

@font-face {
    font-family: "Harmonia-reg";
    src: url(font/HarmoniaSansProCyr-Regular.otf);
   }
@font-face {
    font-family: "Harmonia-black";
    src: url(font/HarmoniaSansProCyr-Black.otf);
   }
@font-face {
    font-family: "Harmonia-SemiBd";
    src: url(font/HarmoniaSansProCyr-SemiBdCn.otf);
   }
@font-face {
    font-family: "Harmonia-Italic";
    src: url(font/HarmoniaSansProCyr-Italic.otf);
   }
@font-face {
    font-family: "Harmonia-Bold";
    src: url(font/HarmoniaSansProCyr-Bold.otf);
   }


/**СЕТКА**/


@column-name: column; // Префикс класса сетки
@column-count: 12;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
    
  }

  .generate-column(@i + 1);
}

.generate-column();

@media (max-width: 768px) {
@column-name: column-mid; // Префикс класса сетки
@column-count: 12;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
    
  }

  .generate-column(@i + 1);
}

.generate-column();
}

@media (max-width: 492px) {
@column-name: column-small; // Префикс класса сетки
@column-count: 12;  // Количество классов

.generate-column(@i: 1) when (@i =< @column-count) {
  .@{column-name}-@{i} {
    width: @i * (100%  / @column-count);
    
  }

  .generate-column(@i + 1);
}

.generate-column();
}
/**СЕТКА**/






/**СТИЛИ**/

html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
}
.clearfix:after {

     visibility: hidden;

     display: block;

     font-size: 0;

     content: " ";

     clear: both;

     height: 0;

     }
.container-max {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}
.column {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    overflow:visible;
}
.header {
    .row { 
        
    &.header__small {
    border-bottom: 1px solid #f4f6f8;
    padding:20px 0; 
    font-size: 0.75rem;
    font-family: Harmonia-reg;
            color: #34404b;
        
        i {
            margin-right: 10px;
        }
        .social-ico {
            float:right;
            text-align: right;
            padding-right: 15px;    
            @media screen and (max-width:492px) {
                margin-top: -29px;
            }
            a { 
                margin-top: 5px;
                width: 15px;
                padding-left: 22px;
                &.face {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 0 50% no-repeat;
                    
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 0 50% no-repeat;
                    }
                }
                &.twit {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 35% 50% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 35% 50% no-repeat;
                    }
                }
                &.google {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 70% 50% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 70% 50% no-repeat;
                    }
                }
                &.inst {
                    transition: all 0.5s ease;
                    background: url(img/soc_sprite.png) 100% 50% no-repeat;
                    &:hover {
                        background: url(img/soc_sprite_hov.png) 100% 50%  no-repeat;
                    }
                }
                }
            }
    }
}
    .separate {
        width: 100%;
        height:1px;
        background-color: #e6e8eb;
        
    }
    .row {
        
        &.header__big {
            padding:20px 0; 
           

            .header__links{
                @media screen and (max-width:768px) {
               text-align: center;
                    padding-top: 20px;
             }
            a {
            display: inline-block;
            font-family: Harmonia-reg;
            color: #34404b;
            padding-top: 9px;
            padding-right: 25px;
            transition: all 0.3s ease;
            &:hover {
                color:#ff5912;
            }        
        }
                }
        .user-ico {
            text-align: right;
            float: right;
            overflow:hidden;
            @media screen and (max-width:768px) {
               margin-top: -90px; 
            }
            @media screen and (max-width:447px) {
               margin-top: -120px; 
            }
            i {
                display: inline-block;
                padding-left: 15px;
            }
        }
    }
        
}
}
    .row {
        &.product {
            padding:80px 0;
            @media screen and (max-width:492px) {
                padding: 20px 0;
                 
            }
            .slider {
                text-align: center;
            }
            .description {
                .name {
                    font-family: "Harmonia-black";
                    font-size: 52px;
                    color: #ff5912;
                    @media screen and (max-width:492px) {
                                text-align: center;
                            }
                }
                .parts {
                      font-size: 18px;
                      font-family: "Harmonia-SemiBd";
                      color:#34404b; 
                    @media screen and (max-width:492px) {
                                text-align: center;
                            }
                }
                .desc-text {
                    font-family: "Harmonia-reg";
                    font-size: 16px;
                    color: #495662;
                    max-width: 80%;
                    @media screen and (max-width:492px) {
                        text-align: center;
                        min-width: 100%;
                            }
                }
                .row {
                    margin-left: -30px;
                    @media screen and (max-width:492px) {
                                text-align: center;
                        margin-left: 0;
                            }
                    &.choiсe {
                        border-top:1px solid #edeff1;
                        border-bottom: 1px solid #edeff1;
                        padding: 20px;
                        font-size: 18px;
                        font-family: "Harmonia-SemiBd";
                        color:#34404b;
                        
                        .choiсe__size {
                            .sizes {
                                @media screen and (max-width:900px) {
                                    display: block;
                                }
                                span {
                                font-size: 14px;
                                padding-left: 10px;
                                    &:first-child {
                                         @media screen and (max-width:900px) {
                                             padding-left: 0;
                                         }
                                    } 
                               
                                &:after {
                                    content: '';
                                    position: absolute;
                                    margin-top: 12px;
                                    margin-left: 4px;
                                    width:6px;
                                    height: 2px;
                                    background-color: #34404b;
                                }
                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                                &:hover {
                                    font-size: 16px;
                                    color: #ff5912;
                                }
                            }
                        }
                        }
                        .choiсe-quantity {
                            float: right;
                            text-align: right;
                             @media screen and (max-width:900px) {
                                 text-align: center;
                                }
                        .inp {
                             @media screen and (max-width:900px) {
                                   display: block; 
                                 text-align: center;
                                }
                            input {
                                width:18px;
                                text-align: center;
                                color: #ff5912;
                                font-family: "Harmonia-SemiBd";
                                font-size: 18px;
                                border: 0;
                            }
                            .minus,
                            .plus {
                                cursor: pointer;
                            }
                       } 
                    }
                  }
                }
                .row {
                   
                    padding-top: 50px;
                    @media screen and (max-width:492px) {
                                padding-top: 20px;
                            }
                    &.price-order {
                        
                        .price {
                            margin-top: 12px;
                            padding-left:15px; 
                            font-family: "Harmonia-black";
                            color: #34404b;
                            font-size:1.25rem ;
                            @media screen and (max-width:492px) {
                                text-align: center;
                                margin-top: 0;
                                margin-bottom: 10px;
                            }
                        }
                        .order {
                            float: right;
                            text-align: right;
                            @media screen and (max-width:492px) {
                                        text-align: center;
                                    }
                            .ico {
                                @media screen and (max-width:492px) {
                                        display: block;
                                    width: 100%;
                                    margin-top: 20px;
                                        margin-bottom: 20px;
                                    }
                                .hover {
                                    overflow: hidden;
                                    width: 20px;
                                    margin-right: 20px;
                                    padding-right: 20px;
                                    height: 20px;
                                    transition: all 0.4s ease;
                                    @media screen and (max-width:768px) {
                                        margin-right: 10px; 
                                    }
                                    @media screen and (max-width:792px) {
                                        margin-right: 40px; 
                                        &:last-child {
                                            margin-right: 0;;
                                        }
                                    }
                                    
                                    &.add {
                                         background: url('img/add-to-normal.png') center no-repeat ;
                                        &:hover {
                                             background: url('img/add-to.png') center no-repeat ;    
                                        }
                                    }
                                    &.share {
                                         background: url('img/share.png') center no-repeat ;
                                        &:hover {
                                             background: url('img/share-hov.png') center no-repeat ;    
                                        }
                                    }
                                    &.like {
                                         background: url('img/like.png') center no-repeat ;
                                        &:hover {
                                             background: url('img/like-hover.png') center no-repeat ;    
                                        }
                                    }



                                }
                                                }
                            .btn {
                                background-color: #ff5912;
                                padding: 15px;
                                border-radius: 25px;
                                color:white;
                                font-family: "Harmonia-SemiBd";
                                display: inline-block;
                                
                                @media screen and (max-width:492px) {
                                      width: 90%;  
                                    
                                    }
                            }
                        }
                    }
                }
            
        }
    }
}
.gray-bgc {
    width:100%;
    background-color: #f4f6f8;
   padding: 120px 0;
    text-align: center;
    @media screen and (max-width:492px) {
                                text-align: center;
                                padding: 40px 0;
                            }
            .arc {
                font-size: 1.75rem;
                font-family: "Harmonia-black";
                color:#34404b;
                span {
                    color:#ff5912;
                }
            }
            .min {
                font-family: "Harmonia-reg";
                color:#495662;
                font-size: 1rem;
            }
    .row {
        &.related {
            padding-top: 80px;
            @media screen and (max-width:492px) {
                               padding-top: 15px;
                            }
              .item {
        padding:0px 15px;
        margin-bottom: 60px;
    .item__wrap {
        position: relative;
        padding: 31px 0px;
        
        background-color: #fff;
        text-align: center;
        box-sizing:content-box;
        overflow: hidden;
        transition: all 0.8s ease;
        
        .name {
            
            margin-top:80%;
            padding-bottom: 10%;
            
            font-family: "Harmonia-Bold";
            font-size:1.125rem;
            color:#34404b;
             transition: all 0.8s ease;
            display: block;
        } 
        .price {
            position: absolute;
            bottom:5%;
            width: 100%;
            white-space: nowrap;
            text-overflow: clip;
            font-family: "Harmonia-Bold";
            font-size:1.125rem;
            margin-top: 25px;
            color:#ff5912;
        }
        .img__box {
            
            transition: all 0.8s ease;
            position: absolute;
            width: 100%;
            overflow: hidden;
        img {
            max-width: 75%;
            box-sizing: border-box;
            margin-bottom: 25px;
            transition: all 0.8s ease;
            
            @media screen and (max-width: 768px) {
                max-width: 80%;
                }
            @media screen and (max-width: 480px) {
                max-width: 90%;
                }
        }
        }
    }
}
        }
    }
    .row-news {
            clear: left;
            
        .news_arc {
            background-color: #fff;
            padding: 20px 0px;
            .row {
                .news-text {
                    font-size: 1.125rem;
                    font-family: "Harmonia-Bold";
                    color: #ff5912;
                    text-align: left;
                    margin-top: 15px;
                    @media screen and (max-width:492px) {
                           text-align: center;
                        }
                    .it {
                        padding-right: 10px;
                        font-size: 0.875rem;
                        font-family:"Harmonia-Italic" ;
                        color:#34404b;
                        @media screen and (max-width:762px) {
                            display: inline-block;
                        }
                        @media screen and (max-width:492px) {
                            display: block;
                        }
                    }
                }
                .inp-btn {
                    text-align: right;
                    img {
                        @media screen and (max-width:492px) {
                            display: none;
                        }
                    }
                    input {
                        width: 60%;
                        border:none;
                        @media screen and (max-width:492px) {
                            width: 100%;
                            text-align: center;
                            margin-top: 20px;
                            border-bottom:1px solid #f4f6f8;
                        }
                    }
                    button {
                        background-color: #ff5912;
                        border:none;
                        padding:17px 25px;
                        color: white;
                        font-family: "Harmonia-SemiBd";
                        @media screen and (max-width:492px) {
                            margin-top: 20px;
                            width: 100%;
                            padding:10px 0;
                        }
                    }
                }
            }
        }
        
    }
    
}
.footer {
        width:100%;
        .container-max {
            .footer-row {
                margin-bottom: 60px;
               padding:60px 0; 
               background-color: #fff;
                .footer-logo{
                    @media screen and (max-width: 768px) {
                    text-align: center;
                    }
                p {
                      font-family:"Harmonia-reg";
                    font-size: 0.875rem;
                    @media screen and (max-width: 768px) {
                    display: none;
                }
                }
            }
                .footer-links {
                    font-family:"Harmonia-reg";
                    font-size: 0.875rem;
                    li {padding-top: 5px;  
                        a {
                     color:#28313b;
                       
                        &:hover {
                            color: #ff5912;
                        }
                    }
                    }
                    @media screen and (max-width:492px) {
                    &:nth-child(4) {
                        display: none
                    }
                    }
                }
            .footer-pay {
            text-align: left;
            @media screen and (max-width: 768px) {
                text-align: center;
                }
            .pay-ico {
                
                .pay {
                    
                    margin-top: 10px;
                    padding-left: 25px;
                    margin-right: 10px;
                    
                    &.p_first {
                       background: url(img/pay.png) ;
                    }
                    &.p_two {
                       background: url(img/pay.png) 25% 0 ;
                    }
                    &.p_three {
                       background: url(img/pay.png) 50% 0 ;
                    }
                    &.p_four {
                       background: url(img/pay.png) 75% 0 ; 
                    }
                    &.p_five {
                       background: url(img/pay.png) 100% 0 ; 
                    }
                    
                }
            }
            
            p{  
                font-family:"Harmonia-SemiBd" ;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 10px;
                color:#ff5912;
            }
        }
                .copy {
                    display: none;
                    text-align: center;
                    font-size: 0.6rem;
                    font-family:"Harmonia-reg" ;
                    padding-top: 20px;
                    @media screen and (max-width:768px) {
                        display: block;
                    }
                }
        }
       } 
    }