

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.my-theme .owl-controls{
    left:10%;
    top:50%;
    transform: translateY(-50%);
    z-index: 999999;
    position: absolute;
	display: inline;
	text-align: center;
    padding: 15px 0;
}

/* Styling Next and Prev buttons */

.my-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #ffffff;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.my-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.my-theme .owl-controls .owl-page{
	
	zoom: 1;
	
}
.my-theme .owl-controls .owl-page span{
    
    
	display:block;
	width: 10px;
	height: 20px;
	margin: 7px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	transition: all 0.5s ease;
	background: #ffffff;
    
}

.my-theme .owl-controls .owl-page.active span,
.my-theme .owl-controls.clickable .owl-page:hover span{
    height: 30px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
    background: #ff5912;
}



/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}